@tailwind base;
@tailwind components;
@tailwind utilities;



.yellow {
    background-color: #FFFF00;
}


.baby {
    background-color: #89CFF0;
}

.paleGreen {
    background-color: #98fb98;
}

.green {
    background-color: #00FF00; 
}

.red { 
    background-color: #FF0000;
}

.pink {
    background-color: #FFC0CB;
}

.black {
    background-color: #000000;
}

.blue {
    background-color: #0000FF;
}

.marroon {
    background-color: #800000;
}

.lime {
    background-color: #32CD32;
}

.gold {
    background-color: #7c6a05;
}

.silver {
    background-color: #C0C0C0;
}

.pastel {
    background-color: #C3B1E1;
}

.teal {
    background-color: #118a8a;
}

.purple {
    background-color: #800080;
}


