@tailwind base;
@tailwind components;
@tailwind utilities;


.orange {
    background-color: orange;
}
.yellow {
    background-color: #FFFF00;
}


.baby {
    background-color: #89CFF0;
}

.paleGreen {
    background-color: #a9ffa9;
}

.green {
    background-color: #058405; 
}

.red { 
    background-color: #FF0000;
}

.pink {
    background-color: #FFC0CB;
}

.black {
    background-color: #000000;
}

.blue {
    background-color: #0000FF;
}

.maroon {
    background-color: #800000;
}

.lime {
    background-color: #32CD32;
}

.gold {
    background-color: #7c6a05;
}

.silver {
    background-color: #C0C0C0;
}

.pastel {
    background-color: #cebcec;
}

.teal {
    background-color: #148585;
}

.purple {
    background-color: #640e64;
}


